body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.hide {
    display: none;
}

/** Home Page Css **/
header {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
}

.home_page_cont {
    background: #000;
    height: 760px;
    width: 100%;
    display: block;
    background: url(../image/home/home_back_one.jpg) left bottom no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.home_page_hero_hd, .home_page_sub_hd {
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
}

.home_page_sub_hd {
    padding: 10px 0;
}

/** Form Style **/
.home_page_form_car {
    display: none;
}

.home_page_hero_form {
    width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.41);
    border-radius: 3px;
    padding: 30px 0;
    position: relative;
    height: 450px;
}

li.interest_opt_cont {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 49%;
    cursor: pointer;
}

li.interest_opt_cont img, .interest_opt_img_cont {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 200px;
}

.interest_opt_img_cont {
    position: relative;
}

.interest_opt_img_cont.active .selected_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(76, 175, 80, 0.71);
    background-image: url("../image/home/checkmark.svg");
    background-repeat: no-repeat;
    background-position: 62px 60px;
    color: #fff;
}

li.interest_opt_cont h3 {
    color: #fff;
    display: block;
    padding: 30px 0 0 0;
}

/** Holidays count section **/
.home_page_form_sec.holidays_count {
    text-align: center;
}

.holidays_count_sec {
    display: inline-block;
    padding: 0;
}

.input-group-btn {
    display: inline-block;
}

.holidays_count_minus, .holidays_count_plus {
    padding: 9px 12px 8px 12px;
    font-size: 1.6rem;
    background: #090a08;
    border: 0;
    color: #65889e;
    display: block;
    cursor: pointer;
    outline: none;
}

.holidays_count_input {
    font-size: 1.1em;
    color: #2b3e51;
    display: inline-block;
    width: 300px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 11px;
    border: 0 solid #cfd9db;
    background-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    margin: 0 -4px;
    text-align: center;
}

.holidays_count_input:focus {
    outline: none;
    border-color: #2c97de;
    box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.cd-bouncy-nav li {
    list-style: none;
}

.holidays_nav_sec {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
}

.holidays_nav_sec.hide {
    display: none;
}

.holidays_nav_btn {
    padding: 12px 30px;
    font-size: 1.3em;
    background: rgba(236, 9, 114, 0.64);
    color: #fff;
    border: 0;
    border-radius: 50px;
}

.holidays_nav_btn.hide {
    display: none;
}

.holidays_nav_btn.left {
    float: left;
}

.holidays_nav_btn.right {
    float: right;
}

.options_model_close.hide {
    display: none;
}

/** Route Details **/
.route_sec {
    z-index: 3;
    position: relative;
}

.route_label {
    display: block;
    text-align: center;
    padding: 13px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    background: #fff;
}

.route_marker {
    display: table;
    text-align: center;
    padding: 30px;
    width: 100%
}

.route_marker_label_cont {
    display: table-cell;
    vertical-align: middle;
}

.route_marker_label {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #f3f1ed;
    padding: 8px 20px;
    font-size: 10px;
    line-height: 1.8;
    background: #fff;
}

.route_marker_label .dist {
    color: #6c9f43;
}

.route_marker_label .timing {
    color: #edc856;
}

.route_sec_cont {
    position: relative;
}

.route_divider_line {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: #ddd;
    left: 53%;
    z-index: 1;
}

.marker-toolTip {
    display: table;
    width: 100%;
}

.stay-image {
    display: table-cell;
    padding-right: 10px;
    vertical-align: middle;
}

.image {
    border-radius: 62px;
    width: 75px;
    height: 75px;
}

.stay-info {
    display: table-cell;
    vertical-align: top;
    padding: 8px 0;
}

.stay-name {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.stay-price {
    font-size: 14px;
}

.stay-link {
    float: right;
    color: blue;
}

.cd-bouncy-nav {
    max-height: 337px;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.temple_hep_text {
    font-size: 11px;
    display: block;
    padding: 5px 0 0 0;
}
.property-image {
    width: 100%;
    height: 250px;
}

.property-description {
    padding: 20px 12px;
    background-color: white;
    color: #636058;
}

.book-now {
    padding: 0;
    background-color: #08D1ED;
}

.bookNow {
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #08D1ED;
    box-shadow: none;
    color: #FFF;
}

.property-page {
    box-shadow: rgba(0, 0, 0, .298039) 0 1px 4px -1px;
    z-index: 1;
    position: relative;
}

.property-name {
    padding: 20px;
    box-shadow: none;
    font-size: 1.2em;
}

.add-btn {
    float: right;
    margin-left: 40px;
}

